:root {
	--bright-orange: hsl(31, 77%, 52%);
	--dark-cyan: hsl(184, 100%, 22%);
	--very-dark-cyan: hsl(179, 100%, 13%);
	--transparent-white: hsla(0, 0%, 100%, 0.75); /* (paragraphs) */
	--very-light-gray: hsl(0, 0%, 95%); /* (background, headings, buttons) */
}

body {
	font-size: 15px;
	font-family: 'Lexend Deca', sans-serif; 
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--very-light-gray);
}

h2 {
	font-family: 'Big Shoulders Display', cursive;
	color: var(--very-light-gray);
	font-size: 2em;
}

#component {
	width: 85%;
	display: flex;
	flex-direction: column;
	margin: 2em 0 1em;
}

.card {
	padding: 3em 4em 3em 2.5em;
}

.card p {
	line-height: 1.8em;
	color: var(--transparent-white);
}

.card:first-child {
	border-radius: 5px 5px 0 0;
	background-color: var(--bright-orange);
}

.card:first-child .card-button {
	color: var(--bright-orange);
}

.card:nth-child(2) {
	background-color: var(--dark-cyan);
} 

.card:nth-child(2) .card-button {
	color: var(--dark-cyan);
}

.card:last-child {
	border-radius: 0 0 5px 5px;
	background-color: var(--very-dark-cyan);
}

.card:last-child .card-button {
	color: var(--very-dark-cyan);
}

.card-button {
	margin-top: 1em;
	padding: 1em;
	border: none;
	border-radius: 2em;
	width: 70%;
	transition: 0.3s ease;
	border: 2px solid var(--very-light-gray);
}

#attribution {
	text-align: center;
	font-size: 0.8em;
}

/* hovers */
@media (hover: hover) {
	.card:first-child .card-button:hover {
		background-color: var(--bright-orange);
		cursor: pointer;
		color: var(--very-light-gray);
	}

	.card:nth-child(2) .card-button:hover {
		background-color: var(--dark-cyan);
		cursor: pointer;
		color: var(--very-light-gray);
	}

	.card:last-child .card-button:hover {
		cursor: pointer;
		color: var(--very-light-gray);
		background-color: var(--very-dark-cyan);
	}
}

/* media queries */
@media (min-width: 769px) {
	body {
		justify-content: center;
		height: 100vh;
	}

	#component {
		margin: 0;
		flex-direction: row;
	}

	.card {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.card:first-child {
		border-radius: 5px 0 0 5px;
	}

	.card:last-child {
		border-radius: 0 5px 5px 0;
	}

	.card p {
		flex-grow: 1;
	}

	#attribution {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

@media (min-width: 1281px) {
	#component {
		width: 65%;
	}
}

